---
import SubPageLayout from '../../layouts/SubPageLayout.astro';
import ContentBody from '../../components/ContentBody.astro';
import ProductShellRuntime from '../../components/article/ProductShellRuntime.astro';
import { readMirrorBodyHtml } from '../../lib/mirror-assets';
import { stripMainWrapper } from '../../lib/site-shell';
import '../../styles/at800-bundle.css';

const mirrorRoute = 'disposable/at800-puffs-disposable-vape';
const bodyHtml = stripMainWrapper(await readMirrorBodyHtml(mirrorRoute));

const postId = 1972;
const title = 'AT800 Puffs Disposable Vape 2ml-ANTBAR';
const description = 'ANTBAR AT800 can vaporize up to 800 puffs of continuous flavor for a pleasurable vaping experience. Find & buy your favorite disposable vape.';
const featuredImage = '/wp-content/uploads/2024/03/AT800.png';
---

<SubPageLayout title={title} description={description} pageId={String(postId)}>
  <main id="content">
    <ContentBody html={bodyHtml} />
  </main>
  <ProductShellRuntime
    postId={postId}
    title={title}
    excerpt={description}
    featuredImage={featuredImage}
  />
</SubPageLayout>
