---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import { ABOUT_HERO, ABOUT_SECTIONS } from '../data/about-us';

import { contentEntryFileName } from '../lib/content-entry';
import { resolveMirrorRoute } from '../lib/mirror-assets';

const pages = await getCollection('pages');
const entry = pages.find((p) => p.id === 'about-us');
const mirrorRoute = entry ? resolveMirrorRoute('pages', contentEntryFileName(entry.id, 'pages')) : '';

const h = ABOUT_HERO;
const sections = ABOUT_SECTIONS;
---
<!-- same template, just changed mirrorRoute to pageSlug -->
<BaseLayout
  title={entry?.data.title ?? 'About Antbar | The Best disposable vape Wholesale'}
  description={entry?.data.description ?? ''}
  mirrorRoute={mirrorRoute}
>
  <main id="content" class="site-main post-37 page type-page status-publish hentry">
    <div class="page-content">
      <div data-elementor-type="wp-page" data-elementor-id="37" class="elementor elementor-37" data-elementor-post-type="page">
        <div class={`elementor-element elementor-element-${h.containerDataId} e-con-full scroll-bn e-flex e-con e-parent`} data-id={h.containerDataId} data-element_type="container">
          <div class={`elementor-element elementor-element-${h.imageContainerId} e-con-full e-flex e-con e-child`} data-id={h.imageContainerId} data-element_type="container">
            <div class={`elementor-element elementor-element-${h.desktopWidgetId} elementor-hidden-mobile elementor-widget elementor-widget-image`} data-id={h.desktopWidgetId} data-element_type="widget" data-widget_type="image.default">
              <img loading="lazy" decoding="async" width={h.desktopImage.width} height={h.desktopImage.height} src={h.desktopImage.src} class="attachment-full size-full wp-image-2067" alt="" srcset={h.desktopImage.srcset} sizes={h.desktopImage.sizes} />
            </div>
            <div class={`elementor-element elementor-element-${h.mobileWidgetId} elementor-hidden-desktop elementor-hidden-tablet elementor-widget elementor-widget-image`} data-id={h.mobileWidgetId} data-element_type="widget" data-widget_type="image.default">
              <img loading="lazy" decoding="async" width={h.mobileImage.width} height={h.mobileImage.height} src={h.mobileImage.src} class="attachment-full size-full wp-image-2987" alt="" srcset={h.mobileImage.srcset} sizes={h.mobileImage.sizes} />
            </div>
          </div>
          <div class={`elementor-element elementor-element-${h.overlayContainerId} e-flex e-con-boxed e-con e-child`} data-id={h.overlayContainerId} data-element_type="container" data-settings='{"position":"absolute"}'>
            <div class="e-con-inner">
              <div class={`elementor-element elementor-element-${h.overlayInnerId} e-con-full e-flex elementor-invisible e-con e-child`} data-id={h.overlayInnerId} data-element_type="container" data-settings='{"animation":"fadeInUp"}'>
                <div class={`elementor-element elementor-element-${h.headingWidget1Id} elementor-widget elementor-widget-heading`} data-id={h.headingWidget1Id} data-element_type="widget" data-widget_type="heading.default"><h2 class="elementor-heading-title elementor-size-default">{h.headings[0]}</h2></div>
                <div class={`elementor-element elementor-element-${h.headingWidget2Id} elementor-widget elementor-widget-heading`} data-id={h.headingWidget2Id} data-element_type="widget" data-widget_type="heading.default"><h2 class="elementor-heading-title elementor-size-default">{h.headings[1]}</h2></div>
              </div>
            </div>
          </div>
          <div class={`elementor-element elementor-element-${h.scriptWidgetId} elementor-widget elementor-widget-html`} data-id={h.scriptWidgetId} data-element_type="widget" data-widget_type="html.default">
            <script is:inline>
              jQuery(function () {
                var $ = jQuery;
                var sbn = $('.scroll-bn');
                if (sbn.length) {
                  var src = $('.scroll-bn .elementor-widget-container>img').attr('src');
                  var scbg = $('<div class="scroll-bg"></div>');
                  scbg.css('background-image', 'url(' + src + ')');
                  scbg.css('top', $('#hNav').height() + $('#wpadminbar').height());
                  $('body').append(scbg);
                  $(window).resize(function () { scbg.css('top', $('#hNav').height() + $('#wpadminbar').height()); });
                }
              });
            </script>
          </div>
        </div>

        <div class={`elementor-element elementor-element-${sections[0].sectionContainerId} e-flex e-con-boxed e-con e-parent`} data-id={sections[0].sectionContainerId} data-element_type="container" data-settings='{"background_background":"classic"}'>
          <div class="e-con-inner">
            <div class="elementor-element elementor-element-c4a0705 e-con-full e-flex e-con e-child" data-id="c4a0705" data-element_type="container">
              <div class={`elementor-element elementor-element-${sections[0].imageContainerId} e-con-full e-flex e-con e-child`} data-id={sections[0].imageContainerId} data-element_type="container">
                <div class={`elementor-element elementor-element-${sections[0].imageWidgetId} elementor-invisible elementor-widget elementor-widget-image`} data-id={sections[0].imageWidgetId} data-element_type="widget" data-settings='{"_animation":"fadeInRight"}' data-widget_type="image.default">
                  <img loading="lazy" decoding="async" width={sections[0].image.width} height={sections[0].image.height} src={sections[0].image.src} class={`elementor-animation-grow attachment-full size-full wp-image-${sections[0].image.wpImageId}`} alt="" srcset={sections[0].image.srcset} sizes={sections[0].image.sizes} />
                </div>
              </div>
              <div class={`elementor-element elementor-element-${sections[0].textContainerId} e-con-full e-flex e-con e-child`} data-id={sections[0].textContainerId} data-element_type="container">
                <div class={`elementor-element elementor-element-${sections[0].headingWidgetId} elementor-invisible elementor-widget elementor-widget-heading`} data-id={sections[0].headingWidgetId} data-element_type="widget" data-settings='{"_animation":"fadeInLeft"}' data-widget_type="heading.default"><h2 class="elementor-heading-title elementor-size-default">{sections[0].heading}</h2></div>
                <div class={`elementor-element elementor-element-${sections[0].textWidgetId} elementor-invisible elementor-widget elementor-widget-text-editor`} data-id={sections[0].textWidgetId} data-element_type="widget" data-settings='{"_animation":"fadeInLeft"}' data-widget_type="text-editor.default"><p>{sections[0].text}</p></div>
                <div class={`elementor-element elementor-element-${sections[0].buttonWidgetId} elementor-align-left elementor-invisible elementor-widget elementor-widget-button`} data-id={sections[0].buttonWidgetId} data-element_type="widget" data-settings='{"_animation":"fadeInLeft"}' data-widget_type="button.default">
                  <a class="elementor-button elementor-button-link elementor-size-sm" href={sections[0].buttonHref}><span class="elementor-button-content-wrapper"><span class="elementor-button-text">View More</span></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="elementor-element elementor-element-4a9ab80 e-con-full bs-conts e-flex e-con e-parent" data-id="4a9ab80" data-element_type="container" id="bsConts" data-settings='{"background_background":"classic"}'>
          {sections.slice(1).map((section) => (
            <div class={`elementor-element elementor-element-${section.sectionContainerId} bs-one e-flex e-con-boxed e-con e-child`} data-id={section.sectionContainerId} data-element_type="container" data-settings='{"background_background":"classic"}'>
              <div class="e-con-inner">
                <div class={`elementor-element elementor-element-${section.imageContainerId} e-con-full e-flex e-con e-child`} data-id={section.imageContainerId} data-element_type="container">
                  <div class={`elementor-element elementor-element-${section.imageWidgetId} bs-img elementor-invisible elementor-widget elementor-widget-image`} data-id={section.imageWidgetId} data-element_type="widget" data-settings='{"_animation":"fadeInLeft"}' data-widget_type="image.default">
                    <img loading="lazy" decoding="async" width={section.image.width} height={section.image.height} src={section.image.src} class={`elementor-animation-grow attachment-full size-full wp-image-${section.image.wpImageId}`} alt="" srcset={section.image.srcset} sizes={section.image.sizes} />
                  </div>
                </div>
                <div class={`elementor-element elementor-element-${section.textContainerId} e-con-full e-flex e-con e-child`} data-id={section.textContainerId} data-element_type="container">
                  <div class={`elementor-element elementor-element-${section.headingWidgetId} elementor-invisible elementor-widget elementor-widget-heading`} data-id={section.headingWidgetId} data-element_type="widget" data-settings='{"_animation":"fadeInRight"}' data-widget_type="heading.default"><h2 class="elementor-heading-title elementor-size-default" set:html={section.heading} /></div>
                  <div class={`elementor-element elementor-element-${section.textWidgetId} elementor-invisible elementor-widget elementor-widget-text-editor`} data-id={section.textWidgetId} data-element_type="widget" data-settings='{"_animation":"fadeInRight"}' data-widget_type="text-editor.default"><p>{section.text}</p></div>
                  <div class={`elementor-element elementor-element-${section.buttonWidgetId} elementor-align-left elementor-invisible elementor-widget elementor-widget-button`} data-id={section.buttonWidgetId} data-element_type="widget" data-settings='{"_animation":"fadeInRight"}' data-widget_type="button.default">
                    <a class="elementor-button elementor-button-link elementor-size-sm" href={section.buttonHref}><span class="elementor-button-content-wrapper"><span class="elementor-button-text">View More</span></span></a>
                  </div>
                </div>
              </div>
            </div>
          ))}
          <div class="elementor-element elementor-element-b7a1bc2 e-con-full e-flex e-con e-child" data-id="b7a1bc2" data-element_type="container">
            <div class="elementor-element elementor-element-d2ed372 elementor-widget elementor-widget-html" data-id="d2ed372" data-element_type="widget" data-widget_type="html.default">
              <script is:inline>
                jQuery(function () {
                  var $ = jQuery;
                  if ($('#bsConts').length) {
                    var bsTabs = $('<div class="bs-tabs"></div>');
                    $('.bs-img').each(function () { var el = $(this).find('.elementor-widget-container').clone(); el.addClass('bs-tab'); bsTabs.append(el); });
                    $('#bsConts').prepend(bsTabs);
                    listen2();
                    function listen2() {
                      var tabs = $('.bs-tab'), conts = $('.bs-one'), cIndex = -1, scroll2 = true;
                      $(window).scroll(function () { if (!scroll2) return; var tg = $(this).scrollTop() + $(window).height() / 2, min = Infinity; conts.each(function (i, item) { var t = $(item).offset().top; if (Math.abs(t - tg) < min && t < tg) { min = Math.abs(t - tg); cIndex = i; } }); if (cIndex >= 0) { tabs.eq(cIndex).addClass('active').siblings().removeClass('active'); conts.eq(cIndex).addClass('active').siblings().removeClass('active'); } });
                      $(window).trigger('scroll');
                    }
                    var left = $('.bs-tabs'), main = $('#bsConts'), header = $('header');
                    function setT() { var t = main.offset().top, h = header.outerHeight(), a = $(window).scrollTop(); if (a + h >= t) { left.addClass('fixed').removeClass('bot').css('top', h); } else { left.removeClass('fixed').css('top', 0); } if (t + main.outerHeight() < h + a + left.children('.bs-tab').outerHeight()) { left.addClass('bot').removeClass('fixed').css('top', 'auto'); } else { left.removeClass('bot').css('top', 0); } if (left.hasClass('fixed')) { left.css('top', h); } }
                    $(window).on('scroll', function () { setT(); });
                    setT();
                  }
                });
              </script>
            </div>
          </div>
        </div>

        <div class="elementor-element elementor-element-e76ebcc e-flex e-con-boxed e-con e-parent" data-id="e76ebcc" data-element_type="container" data-settings='{"background_background":"classic"}'>
          <div class="e-con-inner"></div>
        </div>
      </div>
    </div>
  </main>
</BaseLayout>
