---
import { GALLERY_SLIDES, GALLERY_SECTION } from '../../data/homepage';

const slides = GALLERY_SLIDES;
---

<section class="home-gallery" id="home-gallery" aria-labelledby="home-gallery-title">
  <div class="home-gallery__header">
    <div class="home-gallery__title scroll-reveal" data-animate="fadeInUp">
      <img
        id="home-gallery-title"
        loading="lazy"
        decoding="async"
        width={GALLERY_SECTION.titleImage.width}
        height={GALLERY_SECTION.titleImage.height}
        src={GALLERY_SECTION.titleImage.src}
        alt={GALLERY_SECTION.titleImage.alt}
        srcset={GALLERY_SECTION.titleImage.srcset}
        sizes={GALLERY_SECTION.titleImage.sizes}
      />
    </div>
  </div>

  <div class="home-gallery__carousel-shell scroll-reveal" data-animate="fadeInUp">
    <div
      id="home-gallery-carousel"
      class="home-gallery__carousel"
      data-local-carousel="gallery"
      data-slides-desktop="3"
      data-slides-tablet="2"
      data-slides-mobile="1"
      data-autoplay-delay="5000"
    >
      <div class="home-gallery__viewport swiper" role="region" aria-roledescription="carousel" aria-label="Gallery" dir="ltr">
        <div class="home-gallery__track swiper-wrapper" aria-live="off">
          {slides.map((slide, index) => {
            const slideNum = index + 1;
            const img = slide.image;
            return (
              <div class="home-gallery__slide swiper-slide" data-slide={slideNum} role="group" aria-roledescription="slide" aria-label={`${slideNum} of ${slides.length}`}>
                <figure class="home-gallery__card">
                  <img
                    loading="lazy"
                    decoding="async"
                    width={img.width}
                    height={img.height}
                    src={img.src}
                    alt=""
                    srcset={img.srcset}
                    sizes={img.sizes}
                  />
                </figure>
              </div>
            );
          })}
        </div>
      </div>
      <button class="home-gallery__arrow home-gallery__arrow--prev shell-carousel__arrow--prev" type="button" aria-label="Previous">
        <svg aria-hidden="true" class="e-font-icon-svg e-eicon-chevron-left" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><path d="M646 125C629 125 613 133 604 142L308 442C296 454 292 471 292 487 292 504 296 521 308 533L604 854C617 867 629 875 646 875 663 875 679 871 692 858 704 846 713 829 713 812 713 796 708 779 692 767L438 487 692 225C700 217 708 204 708 187 708 171 704 154 692 142 675 129 663 125 646 125Z"></path></svg>
      </button>
      <button class="home-gallery__arrow home-gallery__arrow--next shell-carousel__arrow--next" type="button" aria-label="Next">
        <svg aria-hidden="true" class="e-font-icon-svg e-eicon-chevron-right" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><path d="M696 533C708 521 713 504 713 487 713 471 708 454 696 446L400 146C388 133 375 125 354 125 338 125 325 129 313 142 300 154 292 171 292 187 292 204 296 221 308 233L563 492 304 771C292 783 288 800 288 817 288 833 296 850 308 863 321 871 338 875 354 875 371 875 388 867 400 854L696 533Z"></path></svg>
      </button>
    </div>
  </div>
</section>
