---
import { HERO_CAROUSEL_SLIDES, HERO_CAROUSEL_SETTINGS } from '../../data/homepage';

const slides = HERO_CAROUSEL_SLIDES;
---

<div
  class="elementor-element elementor-element-9e1277b e-con-full e-flex e-con e-parent"
  data-id="9e1277b"
  data-element_type="container"
  id="indexBn"
>
  <div
    class="elementor-element elementor-element-cea34a2 elementor-pagination-type-bullets elementor-arrows-position-inside elementor-pagination-position-outside elementor-widget elementor-widget-n-carousel"
    data-id="cea34a2"
    data-element_type="widget"
    data-settings={HERO_CAROUSEL_SETTINGS}
    data-widget_type="nested-carousel.default"
  >
    <div class="e-n-carousel swiper" role="region" aria-roledescription="carousel" aria-label="Carousel" dir="ltr">
      <div class="swiper-wrapper" aria-live="off">
        {slides.map((slide, index) => {
          const slideNum = index + 1;
          const img = slide.desktopImage;
          const mImg = slide.mobileImage;
          return (
            <div class="swiper-slide" data-slide={slideNum} role="group" aria-roledescription="slide" aria-label={`${slideNum} of 3`}>
              <div class={`elementor-element elementor-element-${slide.slideContainerId} e-con-full e-flex e-con e-child`} data-id={slide.slideContainerId} data-element_type="container">
                <div class="elementor-element elementor-element-56101cb e-con-full e-flex e-con e-child" data-id="56101cb" data-element_type="container">
                  <div class={`elementor-element elementor-element-${slide.desktopWidgetId} elementor-hidden-mobile elementor-widget elementor-widget-image`} data-id={slide.desktopWidgetId} data-element_type="widget" data-widget_type="image.default">
                    <a href={slide.link}>
                      <img loading="lazy" decoding="async" width={img.width} height={img.height} src={img.src} class="attachment-full size-full wp-image-4825" alt="" srcset={img.srcset} sizes={img.sizes} />
                    </a>
                  </div>
                  <div class={`elementor-element elementor-element-${slide.mobileWidgetId} elementor-hidden-desktop elementor-hidden-tablet elementor-widget elementor-widget-image`} data-id={slide.mobileWidgetId} data-element_type="widget" data-widget_type="image.default">
                    <a href={slide.link}>
                      <img loading="lazy" decoding="async" width={mImg.width} height={mImg.height} src={mImg.src} class="attachment-full size-full wp-image-4826" alt="" srcset={mImg.srcset} sizes={mImg.sizes} />
                    </a>
                  </div>
                </div>
                <div class={`elementor-element elementor-element-${slide.overlayContainerId} e-flex e-con-boxed e-con e-child`} data-id={slide.overlayContainerId} data-element_type="container" data-settings='{"position":"absolute"}'>
                  <div class="e-con-inner">
                    <div class="elementor-element elementor-element-df84a38 e-con-full e-flex elementor-invisible e-con e-child" data-id="df84a38" data-element_type="container" data-settings='{"animation":"fadeInUp"}'>
                      {slide.titleImage && slide.titleWidgetId ? (
                        <div class={`elementor-element elementor-element-${slide.titleWidgetId} elementor-widget elementor-widget-image`} data-id={slide.titleWidgetId} data-element_type="widget" data-widget_type="image.default">
                          <img loading="lazy" decoding="async" width={slide.titleImage.width} height={slide.titleImage.height} src={slide.titleImage.src} class="attachment-large size-large wp-image-1766" alt={slide.titleImage.alt} srcset={slide.titleImage.srcset} sizes={slide.titleImage.sizes} />
                        </div>
                      ) : slide.headingTag ? (
                        <div class={`elementor-element elementor-element-6f35e5c elementor-widget elementor-widget-heading`} data-id="6f35e5c" data-element_type="widget" data-widget_type="heading.default">
                          <h2 class="elementor-heading-title elementor-size-default"><a href={slide.link}>{slide.headingTag}</a></h2>
                        </div>
                      ) : null}
                      <div class={`elementor-element elementor-element-${slide.headingWidgetId} elementor-widget elementor-widget-heading`} data-id={slide.headingWidgetId} data-element_type="widget" data-widget_type="heading.default">
                        <h2 class="elementor-heading-title elementor-size-default">{slide.heading}</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          );
        })}
      </div>
    </div>
    <div class="elementor-swiper-button elementor-swiper-button-prev" role="button" tabindex="0" aria-label="Previous">
      <svg aria-hidden="true" class="e-font-icon-svg e-eicon-chevron-left" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><path d="M646 125C629 125 613 133 604 142L308 442C296 454 292 471 292 487 292 504 296 521 308 533L604 854C617 867 629 875 646 875 663 875 679 871 692 858 704 846 713 829 713 812 713 796 708 779 692 767L438 487 692 225C700 217 708 204 708 187 708 171 704 154 692 142 675 129 663 125 646 125Z"></path></svg>
    </div>
    <div class="elementor-swiper-button elementor-swiper-button-next" role="button" tabindex="0" aria-label="Next">
      <svg aria-hidden="true" class="e-font-icon-svg e-eicon-chevron-right" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><path d="M696 533C708 521 713 504 713 487 713 471 708 454 696 446L400 146C388 133 375 125 354 125 338 125 325 129 313 142 300 154 292 171 292 187 292 204 296 221 308 233L563 492 304 771C292 783 288 800 288 817 288 833 296 850 308 863 321 871 338 875 354 875 371 875 388 867 400 854L696 533Z"></path></svg>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
