---
import { PRODUCT_HERO, PRODUCT_INTRO, PRODUCT_VIDEO } from '../../data/homepage';
import HeroCarousel from './HeroCarousel.astro';
import ProductGrid from './ProductGrid.astro';
import GalleryCarousel from './GalleryCarousel.astro';
---

<main id="content" class="site-main post-2 page type-page status-publish hentry">
  <div class="page-content">
    <div data-elementor-type="wp-page" data-elementor-id="2" class="elementor elementor-2" data-elementor-post-type="page">
      <HeroCarousel />

      <div class={`elementor-element elementor-element-${PRODUCT_HERO.containerDataId} e-con-full e-flex e-con e-parent`} data-id={PRODUCT_HERO.containerDataId} data-element_type="container">
        <div class={`elementor-element elementor-element-${PRODUCT_HERO.widgetDataId} elementor-widget elementor-widget-image`} data-id={PRODUCT_HERO.widgetDataId} data-element_type="widget" data-widget_type="image.default">
          <a href={PRODUCT_HERO.link}>
            <img loading="lazy" decoding="async" width={PRODUCT_HERO.image.width} height={PRODUCT_HERO.image.height} src={PRODUCT_HERO.image.src} class="attachment-full size-full wp-image-4829" alt="" srcset={PRODUCT_HERO.image.srcset} sizes={PRODUCT_HERO.image.sizes} />
          </a>
        </div>
      </div>

      <div class={`elementor-element elementor-element-${PRODUCT_INTRO.containerDataId} e-flex e-con-boxed elementor-invisible e-con e-parent`} data-id={PRODUCT_INTRO.containerDataId} data-element_type="container" data-settings='{"animation":"fadeInUp"}'>
        <div class="e-con-inner">
          <div class={`elementor-element elementor-element-${PRODUCT_INTRO.headingContainerId} e-con-full e-flex e-con e-child`} data-id={PRODUCT_INTRO.headingContainerId} data-element_type="container">
            <div class={`elementor-element elementor-element-${PRODUCT_INTRO.headingWidgetId} elementor-widget elementor-widget-heading`} data-id={PRODUCT_INTRO.headingWidgetId} data-element_type="widget" data-widget_type="heading.default">
              <h2 class="elementor-heading-title elementor-size-default">{PRODUCT_INTRO.heading}</h2>
            </div>
          </div>
          <div class={`elementor-element elementor-element-${PRODUCT_INTRO.buttonContainerId} e-con-full e-flex e-con e-child`} data-id={PRODUCT_INTRO.buttonContainerId} data-element_type="container">
            <div class={`elementor-element elementor-element-${PRODUCT_INTRO.buttonWidgetId} elementor-widget elementor-widget-button`} data-id={PRODUCT_INTRO.buttonWidgetId} data-element_type="widget" data-widget_type="button.default">
              <a class="elementor-button elementor-button-link elementor-size-sm" href={PRODUCT_INTRO.buttonHref}>
                <span class="elementor-button-content-wrapper">
                  <span class="elementor-button-text">{PRODUCT_INTRO.buttonText}</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <ProductGrid />

      <div class={`elementor-element elementor-element-${PRODUCT_VIDEO.containerDataId} e-flex e-con-boxed elementor-invisible e-con e-parent`} data-id={PRODUCT_VIDEO.containerDataId} data-element_type="container" data-settings='{"animation":"fadeInUp"}'>
        <div class="e-con-inner">
          <div class={`elementor-element elementor-element-${PRODUCT_VIDEO.widgetDataId} elementor-widget elementor-widget-video`} data-id={PRODUCT_VIDEO.widgetDataId} data-element_type="widget" data-settings='{"video_type":"hosted","autoplay":"yes","play_on_mobile":"yes","loop":"yes","mute":"yes"}' data-widget_type="video.default">
            <div class="e-hosted-video elementor-wrapper elementor-open-inline">
              <video class="elementor-video" src={PRODUCT_VIDEO.src} autoplay loop muted playsinline controlsList="nodownload"></video>
            </div>
          </div>
        </div>
      </div>

      <GalleryCarousel />
    </div>
  </div>
</main>
