---
import { PRODUCT_GRID_ITEMS } from '../../data/homepage';

const [at800, ag600, rocket, agp12000, kt800] = PRODUCT_GRID_ITEMS;
---

<div class="elementor-element elementor-element-68ca544 e-flex e-con-boxed e-con e-parent" data-id="68ca544" data-element_type="container">
  <div class="e-con-inner">
    <div class="elementor-element elementor-element-0f4a7de e-con-full e-flex e-con e-child" data-id="0f4a7de" data-element_type="container">
      <div class={`elementor-element elementor-element-${at800.cellContainerId} e-con-full e-flex e-con e-child`} data-id={at800.cellContainerId} data-element_type="container">
        <div class={`elementor-element elementor-element-${at800.imageWidgetId} elementor-invisible elementor-widget elementor-widget-image`} data-id={at800.imageWidgetId} data-element_type="widget" data-settings={`{"_animation":"${at800.animation}"}`} data-widget_type="image.default">
          <a href={at800.href}>
            <img loading="lazy" decoding="async" width={at800.image.width} height={at800.image.height} src={at800.image.src} class="elementor-animation-grow attachment-full size-full wp-image-4830" alt="" srcset={at800.image.srcset} sizes={at800.image.sizes} />
          </a>
        </div>
        <div class={`elementor-element elementor-element-${at800.headingWidgetId} elementor-absolute elementor-widget elementor-widget-heading`} data-id={at800.headingWidgetId} data-element_type="widget" data-settings='{"_position":"absolute"}' data-widget_type="heading.default">
          <h2 class="elementor-heading-title elementor-size-default">{at800.name}</h2>
        </div>
      </div>
      <div class={`elementor-element elementor-element-${ag600.cellContainerId} e-con-full e-flex e-con e-child`} data-id={ag600.cellContainerId} data-element_type="container">
        <div class={`elementor-element elementor-element-${ag600.imageWidgetId} elementor-invisible elementor-widget elementor-widget-image`} data-id={ag600.imageWidgetId} data-element_type="widget" data-settings={`{"_animation":"${ag600.animation}"}`} data-widget_type="image.default">
          <a href={ag600.href}>
            <img loading="lazy" decoding="async" width={ag600.image.width} height={ag600.image.height} src={ag600.image.src} class="elementor-animation-grow attachment-full size-full wp-image-4832" alt="" srcset={ag600.image.srcset} sizes={ag600.image.sizes} />
          </a>
        </div>
        <div class={`elementor-element elementor-element-${ag600.headingWidgetId} elementor-absolute elementor-widget elementor-widget-heading`} data-id={ag600.headingWidgetId} data-element_type="widget" data-settings='{"_position":"absolute"}' data-widget_type="heading.default">
          <h2 class="elementor-heading-title elementor-size-default">{ag600.name}</h2>
        </div>
      </div>
    </div>
    <div class="elementor-element elementor-element-583f8a7 e-con-full e-flex e-con e-child" data-id="583f8a7" data-element_type="container">
      <div class={`elementor-element elementor-element-${rocket.cellContainerId} e-con-full e-flex e-con e-child`} data-id={rocket.cellContainerId} data-element_type="container">
        <div class={`elementor-element elementor-element-${rocket.imageWidgetId} elementor-invisible elementor-widget elementor-widget-image`} data-id={rocket.imageWidgetId} data-element_type="widget" data-settings={`{"_animation":"${rocket.animation}"}`} data-widget_type="image.default">
          <a href={rocket.href}>
            <img loading="lazy" decoding="async" width={rocket.image.width} height={rocket.image.height} src={rocket.image.src} class="elementor-animation-grow attachment-full size-full wp-image-4831" alt="" srcset={rocket.image.srcset} sizes={rocket.image.sizes} />
          </a>
        </div>
        <div class={`elementor-element elementor-element-${rocket.headingWidgetId} elementor-absolute elementor-widget elementor-widget-heading`} data-id={rocket.headingWidgetId} data-element_type="widget" data-settings='{"_position":"absolute"}' data-widget_type="heading.default">
          <h2 class="elementor-heading-title elementor-size-default">{rocket.name}</h2>
        </div>
      </div>
    </div>
    <div class="elementor-element elementor-element-2fdb04f e-con-full e-flex e-con e-child" data-id="2fdb04f" data-element_type="container">
      <div class={`elementor-element elementor-element-${agp12000.cellContainerId} e-con-full e-flex e-con e-child`} data-id={agp12000.cellContainerId} data-element_type="container">
        <div class={`elementor-element elementor-element-${agp12000.imageWidgetId} e-transform elementor-invisible elementor-widget elementor-widget-image`} data-id={agp12000.imageWidgetId} data-element_type="widget" data-settings={`{"_transform_scale_effect_hover":{"unit":"px","size":1.1,"sizes":[]},"_animation":"${agp12000.animation}","_transform_scale_effect_hover_tablet":{"unit":"px","size":"","sizes":[]},"_transform_scale_effect_hover_mobile":{"unit":"px","size":"","sizes":[]}}`} data-widget_type="image.default">
          <a href={agp12000.href}>
            <img loading="lazy" decoding="async" width={agp12000.image.width} height={agp12000.image.height} src={agp12000.image.src} class="attachment-full size-full wp-image-4834" alt="" srcset={agp12000.image.srcset} sizes={agp12000.image.sizes} />
          </a>
        </div>
        <div class={`elementor-element elementor-element-${agp12000.headingWidgetId} elementor-absolute elementor-widget elementor-widget-heading`} data-id={agp12000.headingWidgetId} data-element_type="widget" data-settings='{"_position":"absolute"}' data-widget_type="heading.default">
          <h2 class="elementor-heading-title elementor-size-default">{agp12000.name}</h2>
        </div>
      </div>
      <div class={`elementor-element elementor-element-${kt800.cellContainerId} e-con-full e-flex e-con e-child`} data-id={kt800.cellContainerId} data-element_type="container">
        <div class={`elementor-element elementor-element-${kt800.imageWidgetId} elementor-invisible elementor-widget elementor-widget-image`} data-id={kt800.imageWidgetId} data-element_type="widget" data-settings={`{"_animation":"${kt800.animation}"}`} data-widget_type="image.default">
          <a href={kt800.href}>
            <img loading="lazy" decoding="async" width={kt800.image.width} height={kt800.image.height} src={kt800.image.src} class="elementor-animation-grow attachment-full size-full wp-image-4833" alt="" srcset={kt800.image.srcset} sizes={kt800.image.sizes} />
          </a>
        </div>
        <div class={`elementor-element elementor-element-${kt800.headingWidgetId} elementor-absolute elementor-widget elementor-widget-heading`} data-id={kt800.headingWidgetId} data-element_type="widget" data-settings='{"_position":"absolute"}' data-widget_type="heading.default">
          <h2 class="elementor-heading-title elementor-size-default">{kt800.name}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
