---
import type { ArchivePostsWidget } from '../../lib/archive-widget';

interface Props {
  widget: ArchivePostsWidget;
}

const { widget } = Astro.props;
const TitleTag = widget.cards[0]?.titleTag ?? 'h2';
---

<div
  id={widget.widgetId}
  class={widget.widgetClass}
  data-id={widget.dataId}
  data-element_type={widget.dataElementType}
  data-settings={widget.dataSettings}
  data-widget_type={widget.dataWidgetType}
>
  <div class="elementor-widget-container">
    <div class={widget.postsContainerClass} role="list">
      {
        widget.cards.map((card) => (
          <article class={card.articleClass} role="listitem">
            {
              widget.skin === 'cards' ? (
                <div class="elementor-post__card">
                  <a class="elementor-post__thumbnail__link" href={card.href} tabindex="-1">
                    <div class="elementor-post__thumbnail">
                      <img
                        loading="lazy"
                        decoding="async"
                        width={card.imageWidth}
                        height={card.imageHeight}
                        src={card.imageSrc}
                        alt={card.imageAlt}
                        srcset={card.imageSrcSet}
                        sizes={card.imageSizes}
                      />
                    </div>
                  </a>
                  <div class="elementor-post__text">
                    <TitleTag class="elementor-post__title">
                      <a href={card.href}>
                        <Fragment set:html={card.titleHtml} />
                      </a>
                    </TitleTag>
                    <a
                      class="elementor-post__read-more"
                      href={card.href}
                      aria-label={card.readMoreAria}
                      tabindex="-1"
                    >
                      {card.readMoreText || 'View More'}
                    </a>
                  </div>
                  {card.dateText && (
                    <div class="elementor-post__meta-data">
                      <span class="elementor-post-date">{card.dateText}</span>
                    </div>
                  )}
                </div>
              ) : (
                <>
                  <a class="elementor-post__thumbnail__link" href={card.href} tabindex="-1">
                    <div class="elementor-post__thumbnail">
                      <img
                        loading="lazy"
                        decoding="async"
                        width={card.imageWidth}
                        height={card.imageHeight}
                        src={card.imageSrc}
                        alt={card.imageAlt}
                        srcset={card.imageSrcSet}
                        sizes={card.imageSizes}
                      />
                    </div>
                  </a>
                  <div class="elementor-post__text">
                    <TitleTag class="elementor-post__title">
                      <a href={card.href}>
                        <Fragment set:html={card.titleHtml} />
                      </a>
                    </TitleTag>
                    <a
                      class="elementor-post__read-more"
                      href={card.href}
                      aria-label={card.readMoreAria}
                      tabindex="-1"
                    >
                      {card.readMoreText || 'View More'}
                    </a>
                  </div>
                </>
              )
            }
          </article>
        ))
      }
    </div>
    {
      widget.nextPageHref && (
        <>
          <span class="e-load-more-spinner">
            <svg aria-hidden="true" class="e-font-icon-svg e-fas-spinner" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
              <path d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z"></path>
            </svg>
          </span>
          <div class="e-load-more-anchor" data-page={widget.currentPage} data-max-page={widget.maxPage} data-next-page={widget.nextPageHref}></div>
          <div class="elementor-button-wrapper">
            <a class="elementor-button elementor-size-sm" role="button" href={widget.nextPageHref}>
              <span class="elementor-button-content-wrapper">
                <span class="elementor-button-text">{widget.loadMoreText || 'View More'}</span>
              </span>
            </a>
          </div>
          <div class="e-load-more-message"></div>
        </>
      )
    }
  </div>
</div>
